<br>
<div class="parent">
    <h2>Change Password</h2>
    <form [formGroup]="form" name="form" (ngSubmit)="change()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Minimum of 8 Chars" formControlName="oldpassword" type="password" required/>
      </mat-form-field>
      <br>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Minimum of 8 Chars" formControlName="newpassword" type="password" required/>
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" class="half-width" type="button" type="submit" [disabled]="form.invalid">
        <mat-icon>lock_reset</mat-icon>
        Change</button>
    </form>
  </div>

