<br>
<div class="parent">
    <h2>Forgot Password</h2>
    <form [formGroup]="form" name="form" (ngSubmit)="reset()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email"/>
      </mat-form-field>
      <br>

      <button mat-raised-button color="warm" class="half-width" type="button" type="submit" [disabled]="form.invalid">
        <mat-icon>send</mat-icon>
        Send</button>
    </form>
  </div>
